version: '3'
services:
  web:
    build: .
    command: ./wait-for-it.sh mongodb:27017 -s -t 60  -- node .
    volumes:
      - ./turkeyapi:/user/app
      - /user/app/node_modules
    ports:
      - "3000:3000"
    container_name: turkeyapi
    depends_on:
      - mongo
  mongo:
    container_name: "mongodb"
    image: mongo:latest
    environment:
      - MONGO_DATA_DIR=/data/db
      - MONGO_LOG_DIR=/dev/null
    volumes:
      - ./data/db:/data/db
    ports:
        - 27017:27017
    command: mongod --smallfiles --logpath=/dev/null